# Server & Interface
pyngrok
streamlit
streamlit-drawable-canvas==0.8.0

# Deep Learning Framework
torch
torchvision

# Generative AI & NLP
diffusers
transformers
accelerate

# Data Processing & Visualization
numpy
matplotlib
Pillow